##################################################################################################################################### 
#                               _______ _______ __   _ _______
#                               |______ |_____| | \  | |______
#                               |       |     | |  \_| ______|                 
#
#####################################################################################################################################

[heater_fan hotend_fan]
pin: EBBCan: PA0
heater: extruder
heater_temp: 50.0
cycle_time: 0.00003                 # Cycle time
#--------------------------------------------------------------------

#[heater_fan Skirt_fan]            # Skirt fan 
#pin: PF9                         # FAN-2
#cycle_time: 0.00003              # Cycle time
#shutdown_speed: 0.0              # Closing speed (Please do not change)
#kick_start_time: 0.5             # start-up time (Please do not change)
#heater: heater_bed               # Related equipment: heater_bed
#heater_temp: 20                  # How many degrees does the heat bed reach to activate the fan
#fan_speed: 0.5                   # Fan speed

#--------------------------------------------------------------------

[controller_fan driver_fan]      # Driver cooling fan
pin: PF6                         # Fan pin 
cycle_time: 0.00003                  # Cycle time
max_power: 1.0                   # Maximum power
shutdown_speed: 0.0              # Shutdown speed
fan_speed: 0.8                   # Fan speed when heater or stepper driver is active (0.0 to 1.0). Default is 1.0.
idle_timeout: 90                 # Time in seconds to keep the fan running after the stepper driver or heater is no longer active. Default is 30 seconds.
idle_speed: 0.4                  # Fan speed after the stepper driver is no longer active and before idle_timeout is reached (0.0 to 1.0). Default is fan_speed.
stepper: stepper_x               # Active motors
#Define the name of the heater/stepper configuration section associated with this fan. 
#If a comma-separated list of heater/stepper names is provided here, the fan will be enabled when any of the given heaters/steppers are enabled.
#The default heater is "extruder", and the default stepper is all steppers.

#--------------------------------------------------------------------

#Note: The following FAN0/FAN1/FAN2 settings are only applicable when using OrcaSlicer,
#as only OrcaSlicer allows for the additional configuration of parts cooling fans and filter fans. 
#If you use other slicing software, please comment out the following configurations.
# instead of using [fan], we define the default part cooling fan with [fan_generic] here
# this is the default part cooling fan

##############################################
#            Fan Pinout for Manta M8P        #
##############################################
# Fan 0 PF7
# Fan 1 PF9  Skirt Fan
# Fan 2 PF6  Driver Fan
# Fan 3 PF8  Goose purge
# Fan 4 PA4  Exhaust Fan 5V
# Fan 5 PA6
# Fan 6 PAA

# Fan 0 on Toolhead EBBCan:gpio13
##############################################


[fan]                            # 5015 Part cooling Blower 
pin: EBBCan: PA1                 # Fan pin 
#cycle_time: 0.00003              # Cycle time
#hardware_pwm: false              # hardware pwm


#[fan_generic fan2] -> Aux Fan # 12032 Auxiliary Part cooling Blower - 
[fan_generic Auxiliary] -> Aux Fan # 12032 Auxiliary Part cooling Blower - 
##################     THIS IS CONNECTED TO HE0     ####################
pin: PA0                         # Fan pin
cycle_time: 0.00003              # Cycle time
hardware_pwm: false              # hardware pwm
kick_start_time: 0.5             # start-up time (Please do not change)


[fan_generic Box-Turtle] -> Box_Turtle_Desciant_Fans        # Fume_Pack Exhaust Fan
pin: PF7                         # Fan pin     
cycle_time: 0.00003              # Cycle time
hardware_pwm: false              # hardware pwm
kick_start_time: 0.5             # start-up time (Please do not change)

#--------------------------------------------------------------------

#[fan_generic fan3] -> Exhaust/Filtration Fan         # Exhaust Fan
[fan_generic Exhaust] -> Exhaust/Filtration Fan         # Exhaust Fan
###############     THIS IS CONNECTED TO FAN4 (12V)     #################
pin: PA4                         # Fan pin     
cycle_time: 0.00003              # Cycle time
hardware_pwm: false              # hardware pwm
kick_start_time: 0.5             # start-up time (Please do not change)
#--------------------------------------------------------------------

[temperature_fan CM4_fan]
#pin: PA7
pin: PA5
max_power: 1.0
kick_start_time: 0.5
shutdown_speed: 0.0
# The fan will turn on/off based on the temperature
sensor_type: temperature_host # Uses Raspberry Pi Temperature
control: watermark
min_temp: 0
max_temp: 85
target_temp: 40.0  # Target temperature for the CM4
max_speed: 1.0
min_speed: 0.0

##################################################################################################################################### 
#      ____ ____ _  _    _  _ ____ ___  _ ____ _ ____ ____    _  _ ____ ____ ____ ____
#      |___ |__| |\ |    |\/| |  | |  \ | |___ | |___ |__/    |\/| |__| |    |__/ |  |
#      |    |  | | \|    |  | |__| |__/ | |    | |___ |  \    |  | |  | |___ |  \ |__|
#
#####################################################################################################################################

[gcode_macro M106]
description: Custom fan control feature that allows slicers like Orca or S3D to adopt bambu lab-specific auxiliary fan control to define the speed of the auxiliary cooling fan, or exhaust fan
rename_existing: M106.1
gcode:
  ## Original macro can be found somewhere in the Orca Discord. Thank you, dude!
  ## this has some changes, so the order of the parameters S and P does not matter and the fan control value is specified as float 0.0 - 1.0

  ## Define the device names of the controlled fans here. If you're not running a specific type of fan, remove it and the macro will have no effect

  ## Define the mapping between the bambu lab fans and the fan_generic fans defined
  ## These are the names you gave to the fans in your printer.cfg

  ## NOTE: ensure P0 is left as "fan". This is important as you cannot set the
  ## standard part cooling fan Using the set_fan_speed command.
  ## This is accounted for in the macro and handled appropriately.
  {% set fan_map = ({
      "P0": "fan",
      "P1": "Exhaust",
      "P2": "Auxiliary",
    })
  %}
 
  ## Divide the params given into an array split on a singular whitespace
  {% set split_params = rawparams.split(" ") %}
  
  
  ## if we've had more than one paramater passed define requested fan and speed
  ## if one paramater is passed, assume were asking for the part cooling fan
  {% if split_params|length == 1 %}
    {% set requested_fan = "P0" %}
    {% set fan_speed = rawparams %}
  {% else %}
    {% set value_1, value_2 = split_params %}
    ## Check order in which the parameters were entered and set the values ​​at the correct position
    {% if 'P' in value_1 %}
      {% set requested_fan = value_1 %}
      {% set fan_speed = value_2 %}
    {% else %}
      {% set requested_fan = value_2 %}
      {% set fan_speed = value_1 %} 
    {% endif %}
  {% endif %}
  

  ## check to ensure the requested fan is mapped
  ## this allows us to safely ignore commands for fans were not using
  {% if requested_fan in fan_map %}
 
    ## define the target fan device as per the above map
    {% set target_fan = fan_map[requested_fan] %}
 
    # If the target fan is the part cooling fan, just use the standard M106.
    {% if target_fan == "fan" %}
      M106.1 {fan_speed}
    {% else %}
 
      ## strip the leading S from the fan speed
      {% if fan_speed[0:1] == "S" %}
        {% set fan_speed = fan_speed[1:] %}
      {% endif %}
 
      ## Convert the 0-255 fan percentage to a percentage out of 100
      ## and round it to an int
      {% set fan_percentage = (fan_speed|int / 255 * 100)|round(0) %}
      ## divide by 100 to get the value 0.0 - 1.0
      {% set fan_klipperval = (fan_percentage|float / 100) %}
 
      ## Set the requested fan speed on the target fan
      SET_FAN_SPEED fan={target_fan} speed={fan_klipperval}
      ## M118 SET_FAN_SPEED fan={target_fan} speed={fan_klipperval}
    {% endif %}
  {% endif %}


