##################################################################################################################################### 
#                               _______ _______ __   _ _______
#                               |______ |_____| | \  | |______
#                               |       |     | |  \_| ______|                 
#
#####################################################################################################################################


# #pin: EBBCan: PA1                     # Fan pin 
# kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
# off_below: 0.10

[heater_fan hotend_fan]
##	Hotend Fan - CNC_FAN1
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0
###########################################################################
#[heater_fan driver_fan]
##	Controller fan - CNC_FAN2
#pin: PF6                         # Fan pin 
#kick_start_time: 0.500
#max_power: 1.0
#off_below: 0.10
#cycle_time: 0.010
#shutdown_speed: 0.0              # Shutdown speed
#stepper: stepper_x               # Active motors
#############################################################################

[controller_fan driver_fan]      # Driver cooling fan
pin: PF6                         # Fan pin 
cycle_time: 0.00003              # Cycle time
max_power: 1.0                   # Maximum power
shutdown_speed: 0.0              # Shutdown speed
fan_speed: 0.8                   # Fan speed when heater or stepper driver is active (0.0 to 1.0). Default is 1.0.
idle_timeout: 90                 # Time in seconds to keep the fan running after the stepper driver or heater is no longer active. Default is 30 seconds.
idle_speed: 0.4                  # Fan speed after the stepper driver is no longer active and before idle_timeout is reached (0.0 to 1.0). Default is fan_speed.
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, extruder # Fan runs when these are active               # Active motors
#Define the name of the heater/stepper configuration section associated with this fan. 
#If a comma-separated list of heater/stepper names is provided here, the fan will be enabled when any of the given heaters/steppers are enabled.
#The default heater is "extruder", and the default stepper is all steppers.


#[fan_generic fan0]
[fan]
##	Print Cooling Fan this is P1
pin: EBBCan: PA1                     # Fan pin 
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10


[fan_generic fan2]               # 12032 Auxiliary Part cooling Blower - P2
pin: PA0                         # Fan pin
cycle_time: 0.00003              # Cycle time
hardware_pwm: false              # hardware pwm
kick_start_time: 0.5             # start-up time (Please do not change)


[fan_generic fan3]               #	Exhaust fan - for external ventilation P3
pin: PA4  
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
# heater: heater_bed
# heater_temp: 60
#fan_speed: 1.0


[heater_fan Skirt_fan]           # Skirt fan 
pin: PF7                         # FAN-2
cycle_time: 0.00003              # Cycle time
shutdown_speed: 0.0              # Closing speed (Please do not change)
kick_start_time: 0.5             # start-up time (Please do not change)
heater: heater_bed               # Related equipment: heater_bed
heater_temp: 20                  # How many degrees does the heat bed reach to activate the fan
fan_speed: 0.5                   # Fan speed

#--------------------------------------------------------------------


#[fan_generic Box-Turtle] -> Box_Turtle_Desciant_Fans        # Fume_Pack Exhaust Fan
#pin: PF7                         # Fan pin     
#cycle_time: 0.00003              # Cycle time
#hardware_pwm: false              # hardware pwm
#kick_start_time: 0.5             # start-up time (Please do not change)

#--------------------------------------------------------------------

[temperature_fan CM4_fan]
#pin: PA7
pin: PA5
max_power: 1.0
kick_start_time: 0.5
shutdown_speed: 0.0
# The fan will turn on/off based on the temperature
sensor_type: temperature_host # Uses Raspberry Pi Temperature
control: watermark
min_temp: 0
max_temp: 85
target_temp: 40.0  # Target temperature for the CM4
max_speed: 1.0
min_speed: 0.0

[heater_fan AMS-Stepper1-Fan]
pin: Turtle_1:PE9   # Modify according to actual situation
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 0.9     # Set the speed you need

[heater_fan AMS-Skirt-Fan]
pin: Turtle_1:PB3   # Modify according to actual situation
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 0.9     # Set the speed you need

##################################################################################################################################### 
#      ____ ____ _  _    _  _ ____ ___  _ ____ _ ____ ____    _  _ ____ ____ ____ ____
#      |___ |__| |\ |    |\/| |  | |  \ | |___ | |___ |__/    |\/| |__| |    |__/ |  |
#      |    |  | | \|    |  | |__| |__/ | |    | |___ |  \    |  | |  | |___ |  \ |__|
#
#####################################################################################################################################

#This was diabled to try to get the part cooling fan working with the goose belt purger

#[gcode_macro M106]
#gcode:
#    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
#    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
#    SET_FAN_SPEED FAN={fan} SPEED={speed}





