##################################################################################################################################### 
#            _______ ______       _______ _______ _______ _______ _______ _______ _______
#     |      |______ |     \      |______ |______ |______ |______ |          |    |______
#     |_____ |______ |_____/      |______ |       |       |______ |_____     |    ______|
#
#####################################################################################################################################

[neopixel hotend]
pin: EBBCan:PD3          # LED pin EBB36
chain_count: 3                # Number of LEDs
color_order: GRBW             # Color order
initial_RED: 0.5              # Initial red brightness
initial_GREEN: 0.5            # Initial green brightness
initial_BLUE: 0.5             # Initial blue brightness

[neopixel tophat]
pin: PD15                     # Signal interface
chain_count: 18               # Number of LEDs
color_order: GRB              # Color order
initial_RED: 0.5              # Initial red brightness
initial_GREEN: 0.5            # Initial green brightness
initial_BLUE: 0.5             # Initial blue brightness

#[neopixel afc_logo]
#pin: Turtle_1:RGB2
#chain_count: 21               # Number of LEDs
#color_order: GRB              # Color order
#initial_RED: 0.9              # Initial red brightness
#initial_GREEN: 0.9            # Initial green brightness
#initial_BLUE: 0.9             # Initial blue brightness

#[led_effect panel_idle]
#autostart:              true
#frame_rate:             24
#leds:
    #neopixel:afc_logo
#layers:
   # breathing  10 1 top (.5,.5,1)

#[led_effect print_finished]
#leds:
   # neopixel:tophat
   # neopixel:afc_logo
#layers:
    #strobe         1  1.5   add        (1.0,  1.0, 1.0)
    #breathing      2  0     difference (0.95, 0.0, 0.0)
   # static         1  0     top        (1.0,  0.0, 0.0)
#autostart:                             false
#frame_rate:                            24
#run_on_error:                          true

[led_effect progress_bar]
autostart:              false
frame_rate:             24
leds:
    neopixel:tophat
layers:
    progress  -1  0 add (0,0,1),(0,1,0) # Blue to Green

#[led_effect breathing_orange] #for print underway
#autostart: true
#frame_rate: 24
#leds:
    #neopixel:afc_logo
#layers:
    #breathing 10 1 top (1, 0.3, 0) # 10s cycle, 1s delay, color (R, G, B)

#[led_effect breathing_yellow]
#autostart:              true
#frame_rate:             24
#leds:
    #neopixel:afc_logo
#layers:
    #breathing  10 1 top (1, 1, 0)

#[led_effect breathe_purple_green]
#autostart:              false
#frame_rate:             24
#leds:
    #neopixel:afc_logo # Change to your configured Neopixel name
#layers:
    #breathing 10 1 top (0.5, 0, 0.5), (0, 0.5, 0)
    # The '10' is the cycle time in seconds
    # The '1' is the speed multiplier
    # The colors are R,G,B (0-1 range)
    


 
[gcode_macro STOP_LED]
gcode:
    STOP_LED_EFFECTS

[gcode_macro Rainbow_LED]
gcode:
    SET_LED_EFFECT EFFECT=rainbow

[led_effect rainbow] 
leds:    
  neopixel:tophat
layers:
  gradient 0.50 0.50 top (1,0,0),(0,1,0),(0,0,1) 
frame_rate: 10

[led_effect extruder_temp]
leds:
    neopixel:tophat
layers:
    heater 0.50 0.50 top (0.0,1.0,0.0),(1.0,0.0,0.0),(0.0,0.0,1.0)
frame_rate: 10
heater: extruder
autostart: true

[led_effect bed_heating]
leds:
    neopixel:tophat
layers:
    heater 0.50 0.50 top (0.0,1.0,0.0),(1.0,0.0,0.0),(0.0,0.0,1.0)
frame_rate: 10
heater: heater_bed
autostart: true

[led_effect progress_bar]
leds:
    neopixel:tophat
autostart: true
frame_rate:                         10
layers:
    progress  -1  0 add         ( 0, 0,   1),( 0, 0.1, 0.6)
    static     0  0 top         ( 0, 0, 0.1)
